<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <title>Error 404</title>
</head>
<body>
<div id="error-id">
    <div>
        <h1>404</h1>
    </div>
    <p>La página que estás buscando no existe o fue removida.</p>
    <a href="/">home</a>
</div>
</body>
</html>